@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0;
  font-family: 'VT323', monospace;
}

#banner {
  background-position: center;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  & > h1 {
    font-size: 3em;

    & > .typed-cursor {
      animation-name: flash;
      animation-duration: 1s;
    }
  }

}

@keyframes flash {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
