---
title: pasaumieux.com
description:
---
<% images = ['pasaumieux-1.jpg', 'pasaumieux-2.jpg', 'pasaumieux-3.jpg', 'pasaumieux-4.jpg', 'pasaumieux-5.jpg'] %>

<% content_for(:image, "/images/#{images.sample}") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%), url('/images/<%= images.sample %>');">
  <h1>
    <span id="banner-typed-text"></span>
  </h1>
</div>
